#header-flex {
    display: flex;
    justify-content: space-between;
}


#header-logo {
    padding-top: 30px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
    transform: scale(0.6);
    transform-origin: top left;
}

#main-nav #burger-con ul li a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    font-size: 1.2em;
}

#main-nav #burger-con ul li a:hover {
    text-decoration: underline;
}

#main-nav label img {
    width: 100px;
    height: 30px;
    margin-top: 23px;
    cursor: pointer;
    transition: all 1s ease;
    margin-bottom: 20px;
  }
  
  #main-nav input,
  #burger-con {
    display: none;
  }

  #burger-con {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 275px;
    background-color: white;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    z-index: 999;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding-top: 50px; 
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    z-index: 1001;
  }

#main-nav input:checked ~ #burger-con {
    display: block;
    transform: translateX(0);
  }
  
  #main-nav input:checked ~ label img {
    opacity: 0;
  }
  
  #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #main-nav ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  
  #main-nav ul li {
    border-bottom: 1px solid #efefef;
  }
  

  
  #main-nav ul li:last-child {
    border-bottom: none;
  }


#cinemagraph {
    width: 500px;
    height: 333px;
}

#flavors {
    display: flex;
    justify-content: space-evenly;
}


footer {
    background-color: #01497cbd;
    height: 350px;
}

#footer-logo {
    scale: 85%;
    padding-top: 60px;
    padding-left: 30px;
}

#m-footer-nav ul {
    padding-top: 30px;
}


#m-footer-nav ul li {
    list-style: none;
    padding: 7px 0;
    font-size: 1.2em;
}

#m-footer-nav ul li a,
#footer-sec-nav ul li a, 
.m-l-footer-nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#m-footer-nav ul li a:hover,
#footer-sec-nav ul li a:hover,
.m-l-footer-nav ul li a:hover {
    text-decoration: underline;
}

#m-footer-nav ul li ul {
    display: none;
}

.m-l-footer-nav {
    display: none;
}

#line {
    height: 1px;
    margin: 0 30px;
    border-bottom: 1px solid white;
}

#footer-sec-nav ul li {
    display: inline-block;
    padding: 0 7px;
    font-size: .9em;
}

#footer-icon {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

#footer-icon div img {
    cursor: pointer;
}

#footer-icon div:first-child {
    padding-left: 90px;
    padding-right: 30px;
}


@media  screen and (min-width: 768px) {

    body {
        font-size: 1.2em;
    }

    #header-logo {
        position: absolute;
        top: 0px;
        left: 384px;
        padding-top: 15px;
        z-index: 100;
    }

    #main-nav label img {
        display: none;
    }

    #main-nav #burger-con {
        display: inline-block;
        color: rgb(52, 79, 107);
    }

    #main-nav #burger-con ul li {
        display: inline-block;
        list-style: none;
        padding: 0 25px;
        margin-top: 13px;
        margin-bottom: 10px;
    }

    #main-nav ul li:first-child {
        padding-left: 0;
    }

    #main-nav #burger-con ul li.promotion {
        padding-right: 210px;
    }

    #main-nav ul li {
        border-bottom: none;
      }
      
      #main-nav ul li:first-child {
        border-top: none;
      }
      
      #main-nav ul li:last-child {
        margin-bottom: 0;
      }

      #footer-logo {
        scale: 70%;
      }

      #m-footer-nav {
        display: none;
      }

      .m-l-footer-nav {
        display: block;
      }

      .m-l-footer-nav ul li {
        list-style: none;
        padding: 5px 0;
        text-align: center;
      }

      .m-l-footer-nav ul li a {
        font-size: .7em;
      }

      .m-l-footer-nav ul li.bold {
        font-size: 1em;
      }

      #home {
        padding-left: 30px;
      }

}


@media screen and (min-width: 1200px) {

    #main-nav #burger-con ul li {
        padding: 0 40px;
    }

    #header-logo {
        left: 600px;
    }

    #main-nav #burger-con ul li.promotion {
        padding-right: 250px;
    }
    
}